@font-face {
    font-family: "Open Sans";
    src: url("./fonts/open-sans/OpenSans-Light-webfont.woff") format("woff");
  }


html { height: 100%; }

body 
{ 
    background-image: linear-gradient(to left, #2b5876, #2f5479, #374f7a, #424a79, #4e4376);    min-height: 100%; 
}

.parent { 
    padding-top: 10vh;
    display: grid; 
    grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr; 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.div1 { grid-area: 2 / 2 / 3 / 5; } 
.div2 { grid-area: 2 / 4 / 5 / 7; } 
.div3 { grid-area: 3 / 2 / 6 / 4; } 

.div1 
{ 
    font-family: 'Futura', serif;
    font-size: 2em;
    color: whitesmoke;
} 
.div2 
{ 
    padding-top: 5vw;
    padding-left: 10vw;
} 
.div3 
{ 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    color: whitesmoke;
} 

.btn {
    margin-top: 40px;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }

  .btn:hover {
    background-color: RoyalBlue;
  }

a:link      { color: #e8b471;  }
a:visited   { color: #7c6dd4;}
a:hover     { color: #ffc277;}
a:active    { color: RoyalBlue;}

